@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$ff-rbt: 'Roboto', sans-serif;

$fw-n: 400;
$fw-m: 500;
$fw-mm: 700;
$fw-b: 800;
$fw-blck: 900;
